<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yc.saying">

    <!--允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--获取GSM（2g）、WCDMA（联通3g）等网络状态的信息  -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--获取sd卡写的权限，用于文件上传和下载-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许读取手机状态 用于创建BmobInstallation-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.WelcomeActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.LoginActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.RegisterActivity" android:screenOrientation="portrait"/>
        <activity android:name=".tabFragments.MainActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.AddSaying" android:screenOrientation="portrait"/>
        <activity android:name=".ui.SayingActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.UserMessage" android:screenOrientation="portrait"/>
        <activity android:name=".ui.UserHomepageActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.FocusListActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.FollowersListActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.MySayingActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.MyCollectionActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.AddBook" android:screenOrientation="portrait"/>
        <activity android:name=".ui.BookActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.LikeActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.EditSaying" android:screenOrientation="portrait"/>
        <activity android:name=".ui.EditBook" android:screenOrientation="portrait"/>
        <activity android:name=".ui.SearchActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.HotBooksActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.HotSayingsActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.AllArticlesActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.ArticleActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.HotUsersActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.PopularActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.PopularActivitySaying" android:screenOrientation="portrait"/>
        <activity android:name=".ui.VerifyEmailActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.MessageAlertActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.MessageFansActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.MessageNotificationActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.MessageSayingsActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.MessageBooksActivity" android:screenOrientation="portrait"/>
        <activity
            android:name=".utils.PicturePreviewActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
    </application>

</manifest>